body {
    font-family: 'Raleway', sans-serif;
}

header {
    padding: 20px;
    height: 20px;
    background-color: #EAF2FD;
    border: 2px solid #EAF2FD;
    border-radius: 10px;
}

.caixa {
    position: relative;
    width: 80%;
    height: 88px;
    margin: 0 auto 66.5px auto;
}

.caixa p {
    font-weight: bold;
    color: #464646;
}

nav {
    display: block;
    position: absolute;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

.email {
    font-weight: bold;
    color: #464646;
}

a {
    color: #464646;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 5%
}

.inicioConteudo {
    width: 70%;
    align-items: flex-start;
}

.inicio h1 {
    display: flex;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;

}

.inicio p{
    margin-bottom: 10px;
}

.inicio li {
    display: inline;
    margin: 15px 0 15px 15px;
}

.divImagemPerfil{
    width: 30%;
    display: inline-block;
}

.imagemPerfil{
    border-radius: 50%;
    width: 25%;

}

.sobreMim {
    width: 100%;
    background-color: #EAF2FD;
}

.divSobreMim {
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin-left: 5%;
}

.sobreMim h2 {
    font-weight: bold;
    font-size: x-large;
}

.sobreMim p{
    text-align: justify;
}

.skills h2{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding: 5% 0;
}

.divSkills {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.skillCard {
    height: 175px;
    width: 15%;
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 5%;
    
}

.skillIcone {
    max-width: 80px;
    max-height: 80px;
    
}

.hobbies {
    background: #EAF2FD;
}

.hobbies h2{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding: 5% 0;
}

.divHobbies {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.hobbiesCard {
    height: 175px;
    width: 15%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 5%;
    
}

.hobbiesIcone {
    max-width: 80px;
    max-height: 80px;
    
}

.formacao {
    background: white;
}

.formacao h2{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding: 5% 0;
}

.divFormacao {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.formacaoCard {
    height: 280px;
    width: 30%;
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 5%;
    
}

.formacaoIcone {
    max-width: 180px;
    max-height: 180px;
    
}